In [3]:
def test():
    print("This is my very first functon")

In [4]:
test()

This is my very first functon

In [7]:
#difference btw return and print is that print gives none type result and return will give whatever data type result as per user given
def test2():
    return "this is my first return"

In [8]:
test2()

'this is my first return'

In [12]:
test() + 'Taher'

This is my very first functon

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [11]:
test2() + ' Taher'

'this is my first return Taher'

In [18]:
#you can give multipe data types by using return
def test3():
    return 'Taher' , 23, 345.56 , [1,2,3,4]

In [19]:
test3()

('Taher', 23, 345.56, [1, 2, 3, 4])

In [23]:
a,b,c,d = test3()

In [24]:
a

'Taher'

In [25]:
b

23

In [26]:
def test4():
    a=5+6/7
    return a

In [27]:
test4()

5.857142857142857

In [30]:
def test5(a,b,c):
    d=a+b/c
    return d

In [31]:
test5(2,5,3)

3.666666666666667

In [32]:
def test6(a,b):
    return a+b

In [33]:
test6(4,6)

10

In [35]:
test6('Taher' , ' Bohra')

'Taher Bohra'

In [36]:
test6([3,5,6,4,6] , [54,6,4,6])

[3, 5, 6, 4, 6, 54, 6, 4, 6]

In [38]:
l = [1,2,3,4, "Taher" , " Bohra" , [1,4,3,4]]

In [42]:
def test7(l):
    l1=[]
    for i in l:
        if type(i)==int or type(i)==float:
            l1.append(i)
    return l1

In [45]:
test7(l)

[1, 2, 3, 4]

In [48]:
def test8(a):
    """This is my function to extract num data from list"""
    l1=[]
    for i in a:
        if type(i)==list:
            for j in i:
                l1.append(j)
        else:
            if type(i)==int or type(i)==float:
                l1.append(i)
    return l1

In [49]:
test8(l)

[1, 2, 3, 4, 1, 4, 3, 4]

In [51]:
def test9(*Taher):
    """This will return so many arguments"""
    return Taher

In [52]:
test9(43, "gfg" , [3,43,2])

(43, 'gfg', [3, 43, 2])

In [62]:
def test10(*Taher , b):
    return Taher , b

In [64]:
 #"""This will give error because u can only pass value for 1 arg, for another u have to mention the argument 
test10(1,2,3,4)

TypeError: test10() missing 1 required keyword-only argument: 'b'

In [67]:
#hence this will not give any error because u have given the second value by mentioning it  
test10(1,2,3,4, b=31)

((1, 2, 3, 4), 31)

In [68]:
#this will give error bcaz u have to mention the default value at the last
def test11(a=1 ,b =56 ,c,d):
    return a,b,c,d

SyntaxError: non-default argument follows default argument (2077188248.py, line 2)

In [70]:
#this will give error bcaz u have to mention the default value at the last
def test11(c,d,a=1 ,b =56 ):
    return a,b,c,d

In [71]:
test11(3,5)

(1, 56, 3, 5)

In [76]:
def test12(**Taher):
    #To use the dictioary in the function we use ** 
    return Taher

In [78]:
type(test12())

dict

In [81]:
test12(City = 'pune' , country = 'India' , Pincode = 411048)

{'City': 'pune', 'country': 'India', 'Pincode': 411048}

In [2]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [1]:
def test_fib(n):
    a,b=0,1
    for i in range(n):
        yield a #yield is used in a generator function. It passes the value 
        a,b=b, a+b

In [5]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [7]:
def test_fib(n):
    a,b=0,1
    while True:
        yield a #yield is used in a generator function. It passes the value 
        a,b=b, a+b

In [22]:
fib=test_fib(10)
#Generator means  the thing which iterate again and again

In [10]:
for i in range(10):
    print(next(fib))
    #next is used

0
1
1
2
3
5
8
13
21
34

In [18]:
s = "Ther"

In [23]:
t = iter(s) 
#we have converted the string into iterator because string is the iterable....remember only iterable can covert into iterator
#since numbers are not iterable so it cannot convert into iterator

In [24]:
type(t)

str_iterator

In [15]:
print(next(t))

T

In [17]:
print(next(t))

h

In [19]:
print(next(t))

e

In [20]:
print(next(t))

r

In [27]:
#Lecture 3 Lambda function

In [36]:
def test0(n,p):
    return n**p

In [37]:
test0(3,2)

9

In [38]:
a =lambda n,p : n**p

In [39]:
a(3,2)

9

In [40]:
b= lambda n,p : n+p

In [41]:
b(3,4)

7

In [42]:
c_to_f = lambda c: (9/5)*c + 32

In [44]:
c_to_f(40)

104.0

In [45]:
finding_max = lambda x,y : x if x>y else y

In [46]:
finding_max(32,45)

45

In [47]:
s = "T A H E R"

In [50]:
finding_length = lambda x : len(s)

In [51]:
finding_length(s)

9

In [ ]:
#Lecture 4 Map reduce and filter function

In [64]:
l=[2,3,4,5,6]

In [52]:
def test13(l):
    l1 = []
    for i in l:
        l1.append(i)
    return l1

In [57]:
test13(l)

[2, 3, 4, 5, 6]

In [58]:
def sq(x):
    return x**2

In [62]:
list(map(sq , l))

[4, 9, 16, 25, 36]

In [66]:
list(map(lambda x: x**2 , l))

[4, 9, 16, 25, 36]

In [69]:
l2 = [1,2,3,4,5,6]
l3=[12,3,4,7,8, 7]
list(map(lambda x, y : x+y , l2 , l3 ))

[13, 5, 7, 11, 13, 13]

In [70]:
def add(x,y):
    return x+y

In [71]:
list(map(add, l2, l3))

[13, 5, 7, 11, 13, 13]

In [ ]:
s1 = "Taher"
list(map(lambda s: s.upper() ,  s1))

['T', 'A', 'H', 'E', 'R']

In [75]:
from functools import reduce 
#by defult reduce is not avaibale so we hav to call the reduce

In [76]:
l3= [12,3,4,6,8,6]

In [79]:
reduce(lambda x,y: x+y , l3) #reduce only takes 2 parameter

39

In [82]:
reduce(lambda x,y : x*y , l3)

41472

In [83]:
l3

[12, 3, 4, 6, 8, 6]

In [84]:
reduce(lambda x,y : x if x>y else y , l3)

12

In [ ]:
#filter = Return an iterator yielding those items of iterable for which function(item) is true. If function is None, return the items that are true.

In [85]:
l3

[12, 3, 4, 6, 8, 6]

In [86]:
list(filter(lambda x: x % 2 == 0 , l3))

[12, 4, 6, 8, 6]

In [87]:
list(filter(lambda x: x % 2 != 0 , l3))

[3]

In [88]:
l4 = ["Taher" , 'Pwskills' , 'Bohra' , "HUSSAIN"]

In [89]:
 list(filter(lambda x : len(x)>6 , l4))

['Pwskills', 'HUSSAIN']